
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NBK_Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" id="navbar-toggler" />
<label for="navbar-toggler" class="navbar-toggler-icon"></label>

<div class="nav-scrollable">
    <nav class="flex-column">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <MudIcon Icon="@Icons.Material.Filled.Home" /> Home
        </NavLink>
        @if (!State.IsLoggedIn)
        {
            <NavLink class="nav-link" href="login">
                <MudIcon Icon="@Icons.Material.Filled.Login" /> Login
            </NavLink>
            <NavLink class="nav-link" href="register">
                <MudIcon Icon="@Icons.Material.Filled.PersonAdd" /> Register
            </NavLink>
        }
        else
        {
            <button class="btn btn-link nav-link" @onclick="Logout">
                <MudIcon Icon="@Icons.Material.Filled.Logout" /> Logout
            </button>
        }
    </nav>
</div>

@code {
    [CascadingParameter] GlobalAppState State { get; set; }

    void Logout()
    {
        State.RemoveToken();
        NavigationManager.NavigateTo("/", forceLoad: true); 
    }
}
